* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Gabriela", serif;
}

body {

   font-family: 'Gabriela', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gabriela", serif;
}

.cart {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 25px 25px;
margin-top: 5vw;
} 

