* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Gabriela", serif;
}
body {
  margin: 0;
  /* font-family: 'Gabriela', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gabriela", serif;
}

section {
  display: flex;
  align-items: flex-start;
  margin: 10px 35px;
}

.table {
  margin-right: 30px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}
