.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects{
    margin-top: 10vw;
    text-align: center;
}
.deals {
    font-size: 40px;
    text-align: center;
}
.couponName {
    font-size: 25px;
}

.sale {
    color: red;
    font-weight: bold;
}

.regularPrice {
    font-size: 15px;
}

.offerTime {
    font-size: 10px;
}