h1 {
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: #ed764a;
	z-index: 10;
	margin: 0;
	padding: 0;
	font-family: 'Gabriela', serif;
}

.market {
	color: #ed764a;
	font-family: 'SignPainter', serif;
	font-size: 40px;	
}

.locate {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	z-index: 10;
}

.locate img {
	width: 50px;
	cursor: pointer;
}
.search {
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 300px;
	z-index: 10;
}
.search input {
	padding: 0.5rem;
	font-size: 1.5rem;
	width: 100%;
}
